[Unit]
Description=Barcode daemon

[Service]
Environment="PYTHONPATH=/opt/barcode-daemon"
Environment="SCANNER_NAME=%I"
ExecStart=python3 -m barcode_daemon $SCANNER_NAME
Restart=on-failure
TimeoutSec=10


[Install]
WantedBy=multi-user.target 
